.title-main	{
	font-size: 26px;
}

.form-wrapper h4 {
	font-size: 20px;
}
.alert {
	border-radius: 12px;
	padding: 6px 5px;
	font-size: 13px;
}
h1,h2,h3,h5 {
	font-weight: 700;
}
body {
	font-family: 'Open Sans', sans-serif;
}
section	{
	padding-top: 10px;
	padding-bottom: 5px;
}

.container {
	max-width: 700px;
}


.player {
	margin-top: 25px;
	margin-bottom: 25px;
}


.btn:hover {
	transform: translateY( -3px );
	color: transparent;
}

form .btn {
	transition: all 250ms;
	background-image: url(/landing/img/button.jpg);
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;
	border-radius: 71px;
	border: none;
	color: transparent;
	height: 48px;
	width: 260px;
}

.form-wrapper {
	margin: auto;
	max-width: 500px;
}

.form-control {
	font-size: 15px;
	border-radius: 20px;
	height: 37px;
	border-width: 2px;
	padding: 10px 12px;
	width: 260px;
	display: block;
	margin: auto;
}

img {
	max-width: 500px;
	width: 70%;
	margin: auto;
	display: block;
}

.title	{
	font-size: 26px;
}

.desc {
	font-size: 18px;
}

.divider {
	background-image: url( 'https://s.plpstatic.ru/img/shadowbottom/4.png' );
	background-repeat: no-repeat;
	background-size: 100%;
	/*box-shadow: 0 0 2px 5px #eee;*/
	height: 20px;
	opacity: 0.5;
}


.pool-wrapper h5 {
	font-size: 20px;
}
.pool-wrapper {
	max-width: 700px;
	margin: auto;
	color: #333;
	border-radius: 5px;
	border-width: 1px;
	padding: 0.2rem 1rem;
	border-style: solid;
	border-color: rgb(217, 217, 217);
	box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.pool-wrapper img {
	margin: auto;
	display: block;
	width: 80px;
}



.pool-wrapper p {
	font-size: 18px;
}


footer {
	background-color: rgb(36, 39, 43);
	color: white;
}

footer a {
	color: white;
	text-decoration: underline;
}
footer a:hover {
	color: rgba( 235,235,235,1);
}






#myBtn {
	transition: all 1s;
	transform: translateY(100px);
	position: fixed; /* Fixed/sticky position */
	bottom: 20px; /* Place the button at the bottom of the page */
	right: 30px; /* Place the button 30px from the right */
	z-index: 99; /* Make sure it does not overlap */
	border: none; /* Remove borders */
	outline: none; /* Remove outline */
	background: #fff;
	color: #000; /* Text color */
	cursor: pointer; /* Add a mouse pointer on hover */
	padding: 5px 15px; /* Some padding */
	border-radius: 10px; /* Rounded corners */
	font-size: 18px; /* Increase font size */
	border-radius: 30px;
	border: 4px solid #72ffcf;
	font-weight: bold;
}

#myBtn:hover {
	background: linear-gradient(180deg, rgba(255,255,255,1) 10% , #72ffcf 100%);

}
