body {
	font-family: 'Montserrat';
	padding-bottom: 170px;
}
footer {
	background-color: white;
	padding-top: 1rem;
}
.relative {
	position: relative;
}


.img-placeholder {
	    position: absolute;
    top: 6px;
    right: 9px;
    width: 40px;
     height: 40px;
}
body {
	background-color: white;
	background: linear-gradient(#E1E8E8 40%, white 75% );
	height: 100%;
	margin: 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.header-wrapper {
	border-bottom: 4px solid #C5D4D4;
}
header {
	background-color: #E1E8E8;
	color: #2C2D31;
	box-sizing: border-box;
}
.header-liner {
	border: 0.5px solid white;
	opacity: 0.3;
}
.btn-choose {
	border: 2px solid #7DA981;
	box-sizing: border-box;
	border-radius: 15px;
	color: #003F3F;
	font-size: 16px;
	line-height: 19px;
}
.btn-choose:hover {
	border: 2px solid #618930;
	opacity: 0.8;
	background: #87C232;
	color: white;
}

/*?

.btn-for-rules-txt {
	color: #4f6149;
}
.btn-for-rules:hover,
.btn-for-rules:focus,
.btn-for-rules:active {
	border-bottom: 5px solid #87C232;
}
.btn-for-rules-to-change:hover,
.btn-for-rules-to-change:active,
.btn-for-rules-to-change:focus {
	text-decoration: none;
}



.sign-background {
	background-color: white;
	border-radius: 10px;
	box-shadow: 0px 4px 4px #C7C8B8;
}
.profile-hr-clr {
	border: 0.5px solid #DAE4CE;	
}
input:focus,
.custom-focus:focus,
.btn-choose:focus {
	outline: none;
	box-shadow: none;		
}
.header-btn {
	margin: 0 2px 0 2px;
	opacity: 0.8;
	border: 1px solid transparent;
	font-weight: bold;
}
.header-btn:hover,
.header-btn:active {
	background: #87C232;
	font-weight: bold;
	border: 1px solid #6EA62B;
	box-sizing: border-box;
	border-radius: 20px;
	padding-left: 0;
	padding-right: 0;
}

/*?*/

.input-btn {
	background: #ecf0f6;
	border: 1px solid #ecf0f6;
	border-radius: 13px;
	height:50px;
}
.input-btn:focus {
	color: black;
	outline: none;
	box-shadow: none;
	background: #ecf0f6;
	border: 1px solid #ecf0f6;
	border-radius: 10px;
	height:50px;	
}
.txt-clr {
	color: #272727;
	opacity: 0.6;
}
.txt-clr-rules {
	color: #53614f;
	opacity: 0.7;
}
.txt-h-font {
	color: #235A11;
	opacity: 0.8;
}
.hr-clr {
	opacity: 0.4;
	border: 0.5px solid #5F7D3B;
}
.exchange-btn {
	color: white;
	background: #87C232;
	opacity: 0.8;
	border: 1px solid #618930;
	box-sizing: border-box;
	border-radius: 10px;
}
.exchange-btn:hover {
	color: white;
	background: #97DB39;
	border: 1px solid #8BC545;
}
.exchange-btn:focus {
	outline: none;
	box-shadow: none;
}
.agreement-href {
	color: color: #49612C;
	opacity: 0.6;
}
.custom-control-label::before {
	width: 1.2rem;
	border: #9ece5a solid 2px;
	height: 1.2rem;
	border-radius: 0!important;
}
.custom-control-input:focus~.custom-control-label::before {
	box-shadow: none;
	border-color: #9ece5a;
}
.custom-control-input:checked~.custom-control-label::before {
	border-color: #9ece5a;
	background-color: transparent;
	border-radius: 0;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::after {
	background-image: url( /img/check.png);
	border-radius: 0;
}
.custom-control-label::after {
	width: 1.2rem;
	height: 1.2rem;
	border-radius: 0;
}

.container-fluid {
	max-width: 1350px;
}
@media only screen and (min-width: 1000px) {
	.regist-btn {
		background: #87C232;
		color:rgba(0,0,0,.5);
		opacity: 0.9;
		border: 1px solid #6EA62B;
		box-sizing: border-box;
		border-radius: 20px;
	}
	.regist-btn:hover {
		color: #575859;
		background: #97DB39;
		border: 1px solid #6EA62B;
	}
}
.flag-img {
	border-radius: 50%;
}
@media only screen and (max-width: 768px) {
	.flag-img {
		position: relative;
		bottom: 6px;
	}
	.header-wrapper {
		border-bottom: 1px solid #C5D4D4;
	}
	.footer-desc {
		font-size: 10px;
	}
}



::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
















/* Rating Star Widgets Style */
.rating-stars ul {
  list-style-type:none;
  padding:0;
  
  -moz-user-select:none;
  -webkit-user-select:none;
}
.rating-stars ul > li.star {
  display:inline-block;
  
}

/* Idle State of the stars */
.rating-stars ul > li.star > i.fa {
  font-size:2.5em; /* Change the size of the stars */
  color:#ccc; /* Color on idle state */
}

/* Hover state of the stars */
.rating-stars ul > li.star.hover > i.fa {
  color:#FFCC36;
}

/* Selected state of the stars */
.rating-stars ul > li.star.selected > i.fa {
  color:#FF912C;
}
