html,
body {
	font-family: "Montserrat", sans-serif;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	color: #0a183d;
	font-weight: 600;
	line-height: 1;
}

h1 {
	font-size: 70px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

p {
	font-size: 15px;
	color: #6a7080;
	line-height: 1.8;
	font-weight: 500;
}

img {
	max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
	outline: none;
}

a:hover,
a:focus {
	text-decoration: none;
	outline: none;
}

ul,
ol {
	padding: 0;
	margin: 0;
}

/*---------------------
Helper CSS
 -----------------------*/

.section-title {
	margin-bottom: 60px;
}

.section-title h2 {
	font-size: 60px;
}

.set-bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}

.spad {
	padding-top: 105px;
	padding-bottom: 105px;
}

.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white h6,
.text-white p,
.text-white span,
.text-white li,
.text-white a {
	color: #fff;
}

/*---------------------
Commom elements
 -----------------------*/

/* buttons */

.site-btn {
	display: inline-block;
	border: none;
	font-size: 14px;
	font-weight: 500;
	min-width: 195px;
	padding: 23px 20px;
	border-radius: 50px;
	text-transform: uppercase;
	background: #0579E5;
	color: #fff;
	line-height: normal;
	cursor: pointer;
	text-align: center;
}

.site-btn:hover {
	color: #fff;
}

.site-btn.sb-c2 {
	background: #0579E5;
}


@-webkit-keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}

/*------------------
Header section
 ---------------------*/

.header-section {
	padding-left: 55px;
	padding-right: 72px;
	background: #25283E;
}

.site-logo {
	display: inline-block;
	padding: 0;
	padding: 44px 15px;
}

.header-right {
	float: right;
	padding: 44px 0;
	margin-left: 130px;
}

.header-right .hr-btn {
	display: inline-block;
	color: #979aa5;
}

.header-right .user-panel {
	display: inline-block;
}

.header-right .user-panel a {
	font-size: 16px;
	color: #ffffff;
	margin: 0 10px;
}

.header-right .user-panel .register {
	color: #fc0254;
	margin-right: 0;
}

.header-right span {
	color: #fff;
	display: inline-block;
	padding-left: 9px;
}

.main-menu {
	list-style: none;
	float: right;
}

.main-menu li {
	display: inline-block;
	position: relative;
}

.main-menu li a {
	display: block;
	font-size: 16px;
	color: #ffffff;
	padding: 44px 10px;
	margin-left: 60px;
}

.main-menu li a:hover {
	color: #fc0254;
}

.main-menu li:first-child a {
	margin-left: 0;
}

.main-menu li:hover .sub-menu {
	visibility: visible;
	opacity: 1;
	margin-top: 0;
}

.main-menu .sub-menu {
	position: absolute;
	list-style: none;
	width: 220px;
	left: 60px;
	top: 100%;
	padding: 20px 0;
	visibility: hidden;
	opacity: 0;
	margin-top: 50px;
	background: #fff;
	z-index: 99;
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
	-webkit-box-shadow: 2px 7px 20px rgba(0, 0, 0, 0.05);
	box-shadow: 2px 7px 20px rgba(0, 0, 0, 0.05);
}

.main-menu .sub-menu li {
	display: block;
}

.main-menu .sub-menu li a {
	display: block;
	color: #000;
	margin-left: 0;
	padding: 5px 20px;
}

.main-menu .sub-menu li a:hover {
	color: #fc0254;
}

.slicknav_menu {
	display: none;
}

/*------------------
Hero section
 ---------------------*/

.main-section {
	background-image: url('../img/back.png');
	color: white;
}



/* ----------------
Intro section
 -------------------*/

.intro-section p {
	margin-bottom: 35px;
	padding-top: 10px;
}

/* ----------------
How section
 -------------------*/

.how-section {
	background-color: #01284C;
}

.how-item .hi-icon {
	position: relative;
	width: 57px;
	height: 57px;
	border-radius: 50%;
	background: #fc0254;
	margin-bottom: 25px;
}

.how-item .hi-icon img {
	position: absolute;
	right: -8px;
	bottom: 0;
}

.how-item h4 {
	margin-bottom: 25px;
}

.how-item p {
	font-weight: 400;
	opacity: 0.6;
}

/* ----------------
Concept section
 -------------------*/

.concept-section p {
	padding-top: 5px;
}

.concept-item {
	text-align: center;
	padding-top: 35px;
}

.concept-item img {
	border-radius: 40px;
	margin-bottom: 15px;
}


/* ----------------
Responsive
 -------------------*/

.footer-section {
	background: #01284C;
	padding: 100px 0 85px;
}

.footer-widget {
	padding-top: 2px;
}

.footer-widget h2 {
	font-size: 16px;
	color: #fff;
	text-transform: uppercase;
	margin-bottom: 30px;
}

.footer-widget ul {
	list-style: none;
}

.footer-widget ul li a {
	display: inline-block;
	color: #6a7080;
	font-size: 14px;
	margin-bottom: 10px;
}

.social-links a {
	display: inline-block;
	color: #6a7080;
	font-size: 18px;
	margin-right: 35px;
}

body {
	padding-bottom: 70px;
	height: initial;
}



/*HEADER*/

header .centered.dropdown-menu {
	left: 50%;
	transform: translateX(-50%);
}

/*HEADER*/


/*CONTENT*/

.content_name {
	/*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
	border-radius: 5px;
	padding: 20px;
	background-color: #EAEAEA;
}

/*CONTENT*/

.section-icon {
	padding: 6px;
    border-radius: 50%;
    font-size: 20px;
    margin-right: 15px;
    vertical-align: middle;
    font-size: 19px!important;
}
.section-icon.fa-spinner {
	font-size: 33px!important;
    color: #0f9eca;
    position: relative;
    left: -7px;
    margin-right: 4px;
}
/*THEME*/
body#theme-dark {
	background-color: rgba(23, 23, 23, 0.89);
}
#theme-dark .text-theme {
	color: white;
}
#theme-light .text-theme {
	color: black;
}
#theme-dark .bg-theme {
	background-color: rgba(23, 23, 23, 0.89);
}
#theme-light .bg-theme {
	background-color: white;
}
#theme-dark header a, #theme-dark footer a {
    color: #b0d6ff;
}
#theme-dark header a:hover, #theme-dark footer a:hover {
    color: #6d9cce;
}
#theme-dark .btn-outline-theme {
	color: #f8f9fa;
    border-color: #f8f9fa;
}
#theme-dark .btn-outline-theme:hover {
	color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}
#theme-light .btn-outline-theme:hover {
	color: #fff;
	background-color: #343a40;
	border-color: #343a40;
}
#theme-light .btn-outline-theme {
	color: #343a40;
    border-color: #343a40;
}
/*HEADER*/
#theme-dark .navbar-toggler {
	color: rgba(255,255,255,.5);
	border-color: rgba(255,255,255,.1);
}
#theme-light .navbar-toggler {
	color: rgba(0,0,0,.5);
    border-color: rgba(0,0,0,.1);
}
#theme-dark .navbar-toggler-icon {
	background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
#theme-light .navbar-toggler-icon {
	background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
/*HEADER*/

/*FORMS*/

#theme-dark form label {
	color: white;
}
#theme-light form label {
	color: black;
}
/*FORMS*/




/*SIDEBAR*/

.sidebar .card-header,
.safe .card-header {
	padding: 3px;
}

#theme-dark .sidebar .card ,
#theme-dark .safe .card {
    margin: 4px 0px;
    background: #303030;
    border-radius: .25rem;
    border: 1px solid white;
}

#theme-light .sidebar .card-header,
#theme-light .safe .card-header {
	background: white;
}
#theme-dark .sidebar .card-header,
#theme-dark .safe .card-header {
	border-bottom: 1px solid white;
}

#theme-light .sidebar .card,
#theme-light .safe .card {
	margin: 4px 0px;
	background: white;
	border-radius: .25rem;
    border: 1px solid black;
}

/*SIDEBAR*/


/*GLOBAL*/

.progress {
	max-width: 350px;
}

.mission .progress-text {
	margin-bottom: 1rem;
}

.bg-warning {
	background-color: #2dfdd6!important;
}
.text-warning {
	color: #2dfdd6!important;
}
.btn-outline-success {
	color: #2dfdd6;
    border-color: #2dfdd6;
}
.btn-outline-success:hover {
	background-color: #2dfdd6;
	border-color: #2dfdd6;
	color: #5c5858;
}

.btn-success {
	background-color: #2dfdd6;
	color: #5c5858;
	border-color: #2dfdd6;
}
.btn-success:hover {
	background-color: #2dfdd6;
	color: #5c5858;
	border-color: #2dfdd6;
}
/*GLOBAL*/


/*LIST-ITEMS*/

#theme-dark .list-items {
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
}
#theme-light .list-items {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.list-items {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 5px;
	padding-left: 15px;
	margin: 0.5rem 0;
}

/*LIST-ITEMS*/

/*TIMER*/

#timer-min , 
#timer-sec {
	border-bottom: 2px solid #d5d4d4;
	position: relative;
	width: 45px;
    display: inline-block;
}

#timer-min:after,
#timer-sec:after {
	content: "МИНУТ";
	position: absolute;
	font-size: 10px;
	bottom: -14px;
	color: #8b7c7c;
	left: 2px;
	text-align: center;
}
#timer-wrap {
	font-size: 35px;
	visibility: hidden;
}

#root #timer-wrap {
	visibility: visible;
}

#timer-sec:after {
	content: "СЕКУНД";
	left: 0px;
}

#theme-dark #timer-min:after,
#theme-dark #timer-sec:after {
	color: #efefef;
}

#theme-dark #timer-min,
#theme-dark #timer-sec {
	border-bottom: 2px solid #efefef;
}

/*TIMER*/


/*THEME*/

#theme-dark .preformat {
	color: white;
}

.preformat {
	font-family: "Montserrat", sans-serif;
	font-size: 25px;
	color: black;
	white-space: break-spaces;
}


/*NEW-THEME*/

/*COLOR: #72ffcf*/


/*HEADER*/

#theme-light header nav {
	background:  rgba(114, 255 ,207, 0.41);
	background: linear-gradient(180deg, rgba(114, 255 ,207, 0.41) 0%, rgba(255,255,255,1) 45%);
	border-bottom-left-radius: 35px;
	border-bottom-right-radius: 35px;
    box-shadow: 0 0 13px 9px #e6e3e3;
}

#theme-light footer {
    box-shadow: 0 0 16px 8px #e6e3e3;
}

#theme-light header .header-user {
	border-radius: 30px;
    border-color: transparent;
    border-width: 0;
    box-shadow: 0 0 9px 4px #e6e3e3;
    height: 60px;
    display: flex;
    align-items: flex-end;
    background: white;
    max-width: 300px;
    justify-content: center;
    align-self: center;
    margin-left: auto;
}
#theme-light header .header-user a {
	color: black;
}


#theme-light .progress .progress-bar {
	background-color: #72ffcf!important;
}
/*HEADER*/


/*GLOBAL*/



#theme-light .form-control {
    border-radius: 6px;
    border: 2px solid #d0d0d5;
    margin-left: 6px;
    height: 46px;
    font-size: 20px;
}

#theme-light .form-control:focus {
	box-shadow: none;
}
#theme-light .form-group label {
	font-size: 23px!important;
}
#theme-light .btn-outline-theme {
	border-radius: 6px;
    border-color: transparent;
    border-width: 0;
    /*box-shadow: 6px 3px 10px 1px #e6e3e3;*/
    box-shadow: 6px 3px 20px 10px #e6e3e3;
    padding: 0.8rem;
    height: 54px;
    font-size: 18px;
    transition: all .3s;
}

#theme-light .btn-outline-success {
	border-radius: 30px;
	border: 4px solid #72ffcf;
    padding: 0.7rem;
    width: 144px!important;
    height: 53px;
    font-weight: bold;
    font-size: 18px;
    background-color: #fff;
    color: black;
    -webkit-transition: background 1000ms linear;
    -ms-transition: background 1000ms linear;
    transition: background 1000ms linear;
}

#theme-light .btn-outline-success.long {
    width: 220px!important;
}

#theme-light .btn-outline-success:hover {
	background: linear-gradient(180deg, rgba(255,255,255,1) 10% , #72ffcf 100%);
}


#theme-light .btn-outline-success.hovered {
	background: linear-gradient(180deg, rgba(255,255,255,1) 10% , #72ffcf 100%);
}

.small-icon {
	width: 60px;
	height: 60px;
}


#theme-light .main-border-steps-sections-missions {
	border-radius: 12px;
	box-shadow: 6px 3px 20px 10px #e0dcdc;
}

/*GLOBAL*/



/*MISSIONS*/

#theme-light .mission {
	border-radius: 12px;
    border-color: transparent!important;
    border-width: 0;
    box-shadow: 0 0 20px 11px #e6e3e3;
}



#theme-light .mission p {
	font-weight: bold;
	font-size: 16px;
	text-align: center;
}


/*MISSIONS*/


/*MISSION*/

#theme-light .list-items {
	box-shadow: none;
	padding: 15px 25px;
	margin: 0;
	border-bottom: 2px solid #e0dcdc;
	border-radius: 0;
}
#theme-light .list-items p {
	font-size: 18px;
}
#theme-light .list-items-wrapper .list-items:last-child {
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
}
#theme-light .list-items-wrapper .list-items:first-child {
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
}
#theme-light .list-items-wrapper {
	border-radius: 12px;
	box-shadow: 6px 3px 20px 10px #e0dcdc;
}

#theme-light .accordio li {
	margin-bottom: 8px;
}
#theme-light .accordio .card {
	box-shadow: none;
	padding: 15px 25px;
	margin: 0;
	border-bottom: 2px solid #e0dcdc;
	border-radius: 0;
	border: 0;
	margin-bottom: 5px;
}
#theme-light .accordio .card p {
	font-size: 18px;
}
#theme-light .accordio .card-header {
	border: 0;
}
#theme-light .accordio .card:last-child {
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
}
#theme-light .accordio .card:first-child {
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
}
#theme-light .accordio {
	background-color: #e0dcdc;
	border-radius: 12px;
	box-shadow: 6px 3px 20px 10px #e0dcdc;
}




/*MISSION*/


/*SETTINGS*/



#theme-light .settings-form label {
	font-size: 23px!important;
}

#theme-light .accordio .card {
	box-shadow: none;
	padding: 15px 25px;
	margin: 0;
	border-bottom: 2px solid #e0dcdc;
	border-radius: 0;
	border: 0;
	margin-bottom: 5px;
}
#theme-light .accordio .card p {
	font-size: 18px;
}
#theme-light .accordio .card-header {
	border: 0;
}
#theme-light .settings-form {
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
	padding: 1.2rem 4%;
	background-color: white;
}
#theme-light .settings-title {
	padding: 1.2rem 4%;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
}
#theme-light .settings-wrapper {
	background-color: #e0dcdb;
	border-radius: 12px;
	box-shadow: 6px 3px 20px 10px #e0dcdc;
}

#theme-light img#preview {
    border-radius: 6px;
    border: 2px solid #d0d0d5;
}




/*SETTINGS*/


/*STEP*/

#theme-light .step-wrapper {
	border-radius: 50px;
	box-shadow: 6px 3px 20px 10px #e0dcdc;
}

#theme-light .step-wrapper-inner {
	border-radius: 50px;
	box-shadow: 6px 3px 20px 10px #e0dcdc;
}

/*STEP*/



/*ICONS*/


.icon-lock.tiny , .icon-spinner.tiny , .icon-check.tiny {
	height: 20px;
	width: 20px;
	display: inline-block;
	background-position: center;
	background-size: 100%;
	vertical-align: middle;
	display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 18px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	border-radius: 50%;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}


.icon-lock , .icon-spinner , .icon-check {
	height: 50px;
	width: 50px;
	display: inline-block;
	background-position: center;
	background-size: 100%;
	vertical-align: middle;
	display: inline;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 40px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	border-radius: 50%;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}
/*
.icon-lock:before {
    content: "\f023";
}
*/

.icon-spinner.tiny:before,.icon-check.tiny:before,.icon-lock.tiny:before {
    font-size: 20px;
}

.icon-spinner:before {
    content: "\f110";
    color: #72ffcf;
    font-size: 35px;
}

.icon-check:before {
    content: "\f05d";
    color: #72ffcf;
}
.icon-lock {
	background-image: url( 'http://u21.plpstatic.ru/3ea811c56c466d9d429a821f6b022416/0ee7064dfe6bf77e69d1c1543b20146e.jpg' );
	background-size: 55%;
    background-repeat: no-repeat;
}

.icon-lock.tiny {
	background-size: 82%;
}

/*
.icon-spinner {
	background-image: url( '/assets/img/load.png' );
}
.icon-check {
	background-image: url( '/assets/img/check.png' );
}*/


/*ICONS*/




/*PROGRESS*/

#theme-light .mission-progress-wrapper .progress-text {
	margin-bottom: 10px;
}

#theme-light .progress {
	height: 13px;
    border-radius: 100px;
    border: 1px solid #9e9e9e;
}

/*PROGRESS*/


/*VIDEO*/

.video-wrapper {
	width: 70%;
}

@media only screen and (max-width: 1200px) {
  .video-wrapper {
  	width: 100%;
  }
  .preformat {
  	font-size: 18px;
  }
  #theme-light .btn-outline-success {
	padding: 0.4rem 0;
	width: 100px!important;
	height: 42px;
	 font-weight: normal; 
	font-size: 16px;
  }
  #theme-light .btn-outline-success.long {
	width: 190px!important;
  }
}



/*VIDEO*/

/*QUIZ*/

#root .custom-control-input:checked~.custom-control-label::before {
	color: #fff;
	border-color: #fefefe;
	background-color: #62f1c1;
}

#root .custom-radio .custom-control-input:checked~.custom-control-label::after {
	background-image: none;
}


.flex-1 {
	flex: 1;
}

.flex-2 {
	flex: 2;
}
#theme-light .longer.btn-outline-success {
	width: 300px!important;
    max-width: 100%;
}

/*QUIZ*/


/*NEW-THEME*/
