.wrap-copy {
	background-color: black;
    color: white;
    padding: 1rem;
    display: inline-block;
    border-radius: 6px;
    font-weight: bold;
}

.some-box {
	box-shadow: 0 0px 9px 8px #0000001a;
    border-radius: 5px;
    padding: 1rem;
}

.copier {
    border-radius: 5px;
    border: 1px solid white;
    padding: 0.5rem;
    margin-left: 1rem;
    cursor: pointer;
    font-weight: normal;
}

.copier:active {
	background-color: rgba(255,255,255,0.3);
}